<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b6621e48-05c9-4ab0-bce1-a278d9c2263e/resourcegroups/SportsManagementSystemResourceGroup/providers/Microsoft.Web/sites/SportsManagementSystem</ResourceId>
    <ResourceGroup>SportsManagementSystemResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sportsmanagementsystem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sportsmanagementsystem.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SportsManagementSystem</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SportsManagementSystem</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:sportsmanagementsystemdbserver.database.windows.net,1433;Initial Catalog=SportsManagementSystem_db;User ID=smsadmin@sportsmanagementsystemdbserver;Password=Sms@1234" Name="Data Source=tcp:sportsmanagementsystemdbserver.database.windows.net,1433;Initial Catalog=SportsManagementSystem_db;User Id=smsadmin@sportsmanagementsystemdbserver;Password=Sms@1234" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Sports_Management_System.Models.ApplicationDbContext, Sports Management System" MigrationConfiguration="Sports_Management_System.Migrations.Configuration, Sports Management System" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sportsmanagementsystemdbserver.database.windows.net,1433;Initial Catalog=SportsManagementSystem_db;User Id=smsadmin@sportsmanagementsystemdbserver;Password=Sms@1234</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>